stack-template.json
/keyrings/live/pubring.gpg~
/keyrings/live/pubring.kbx~
/keyrings/live/secring.gpg
/csd-test.stack-template.json
/kubernetes.pem
/credentials/admin-key.pem
/credentials/admin.pem
/credentials/apiserver-key.pem
/credentials/apiserver.pem
/credentials/ca-key.pem
/credentials/ca.pem
/credentials/worker-key.pem
/credentials/worker.pem
